@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.home {
  background-color: aliceblue;
  scroll-snap-type: y mandatory;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
}

.video_container {
  position: relative;
  overflow: scroll;
  height: 800px;
  border-radius: 20px;
  width: 450px;
  scroll-snap-type: y mandatory;
}
.video {
  position: relative;
  background-color: rgb(58, 81, 209);
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
.player {
  width: 100%;
  height: 100%;
}
.video_container::-webkit-scrollbar {
  display: none;
}

.video_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* *********** Video Footer *************************** */

.videofooter {
  position: relative;
  bottom: 180px;
  color: white;
  display: flex;
  margin-left: 40px;
}
.footer_text {
  flex: 1;
}

.footer_text > p {
  padding-bottom: 20px;
}
.footer_text > h3 {
  padding-bottom: 20px;
  cursor: pointer;
}

.cd_logo {
  width: 50px;
  height: 50px;
  animation: spin infinite 5s linear;
  bottom: 0;
  margin: 10px;
  cursor: pointer;
}

.footer_logo {
  position: absolute;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------Sidebar------------------------------------- */

.sidebar {
  position: absolute;
  color: white;
  top: 40%;
  right: 0px;
}

.sidebar_button {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

/* Navbar */
.navbar {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
.nav_icon {
  color: white;
}
.nav_text {
  color: white;
  font-size: 12px;
}
.nav_icon_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

/* 404 */

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh !important;
  width: 100vh !important;
  background-image: url("/img/bg01.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
}
.four > h1 {
  font-size: 100px;
  font-family: "Akaya Telivigala", cursive;
  color: white;
}
.four > a {
  font-size: 30px;
  color: rgb(115, 255, 255);
  border: black solid 5px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.541);
  margin-top: 20px;
}
